
header {
	padding: 1.875em 0;
	font-family: 'Permanent Marker', cursive;
}

header h1 {
	color: purple;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}



header h1, h2, h3 { 
	background-color: rgb(212, 185, 214);
	font-family: 'Permanent Marker', cursive;
	text-align: center;
}

p {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 75px;
	margin-left: 40px;
}

figure {
	margin: 0;
	padding: 0;
	text-align: center;
}

figcaption {
	font-style: italic;
}

img {
	width: "600";
	height: "400";
}

footer {
	text-align: center;
	padding: 3em;
}
footer p {
	display: inline-block;
}
